{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row my-5">
            <div class="col-12 text-center">
                <h1 class="page-header">HAPPY PAGINATOR</h1>
            </div>
        </div>
        <div class="row mb-5">
            {% for item in data.getPagedItems %}
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-2">
                    <div class="product-wrapper mb-3">
                        <div class="product-name">{{ item.name }}</div>
                        <div class="product-price">{{ (item.priceCents / 100) | czk }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row mb-5">
            <div class="col-12">
                <nav aria-label="Product page navigation">
                    <ul class="pagination flex-wrap justify-content-center">
                        {% if data.getCurrentPage === 1 %}
                            <li class="page-item disabled">
                                <a class="page-link" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="{{ path('app_demo_index', {'page': data.getCurrentPage - 1}) }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                            </li>
                        {% endif %}
                        {% for i in (1..data.getTotalPages) %}
                            <li class="page-item">
                                <a
                                    class="page-link {% if data.getCurrentPage === i %}active{% endif %}"
                                    href="{{ path('app_demo_index', {'page': i}) }}"
                                >{{ i }}</a>
                            </li>
                        {% endfor %}
                        {% if data.getCurrentPage === data.getTotalPages %}
                            <li class="page-item disabled">
                                <a class="page-link" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="{{ path('app_demo_index', {'page': data.getCurrentPage + 1}) }}" aria-label="Previous"><span aria-hidden="true">&raquo;</span></a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}
